<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Design + Tech</h2>
                <hr class="light">
                <p>Combine these two practical skills and consider your problem solved. <br/>We're sure to match your passion while building quality solutions.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
