<header class="header-1 fullWidth cover inverse">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">JERICO CAESAR DELFINADO</h3>
          <p class="lead mt-0">Software Engineer. I like solving problems.</p>
        </div>
      </div>
    </div>
  </div>
</header>
  
  
  <div class="section features-1 fullWidth">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-6">
          <img src="{{ '/assets/img/ill/ill.png' | relative_url }}" width="100%">
        </div>
        <div class="col-md-6 text-left">
          <div class="row">
            <h3 class="display-3">I'm a Software Engineer.</h3>
          </div>
          <div class="row">
            <p>I’m a creative software engineer with over five years of experience in building a good mix of both "boring" and cool stuff.</p>
  
            <p>A proficient solutions analyst with extensive industry exposure to FinTech (including Ant Financial), balancing business value, and technically sound design principles. </p>
              
            <p>An efficient in-depth learner with a knack for acquiring new skills and domain expertise to aid well-informed decision-making.</p>
  
  
            <a href="/" class="btn btn-primary">
              Download Resume
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <section class="features-5 fullWidth inverse" id="features-5">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-5 d-flex justify-content-center flex-column">
          
            <h2 class="display-2 mt-2">I also make creative stuff</h2>
            <p>Sometimes, when I'm bored, I dabble into photography and graphic design. Nothing fancy yet though, mostly small projects to pass the time (like this site).</p>
          
            <div class="btn-wrapper mt-2">
              <a href="/portfolio" class="btn btn-white mb-3 btn-block">
                View Portfolio
              </a>
              <a href="/contact" class="btn btn-primary mb-3 btn-block">
                Work with me
              </a>
            </div>
        </div>
        <div class="col-lg-7 col-10 mx-md-auto">
          <img class="ml-lg-6" src="{{ '/assets/img/ill/ill.png' | relative_url }}" width="100%">
        </div>
      </div>
    </div>
  </section>
