$header-font: 'Montserrat', sans-serif;

span.strikethrough {
  text-decoration: line-through;
}

.site-header {
  border-bottom: none;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.nameplate {
  margin-top: 60px;
  text-align: left;
  font-family: $header-font-family;
  letter-spacing: 8px;
  font-size: .75em;
  font-weight: 600;
  h5 {
    color: $grey-color;
    font-weight: 600;
  }
}

.home-header {
  .site-nav {
    text-align: left;
    font-family: $header-font;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: normal;
  }
  @media screen and (max-width: 600px) {
    .site-nav {
      border:none;
      height: 50px;
      left: 16px;
      .page-link {
        display: inline-block;
        margin-left: 0;
        margin-right: 16px;
      }
      .nav-table {
        margin: 12px 0;
      }
    }
  }

  .nav-table {
    margin: 30px 0 12px 0;
    border: none;
    width: auto;
    text-align: left;
    font-size: 10px;
    a {
      padding: 6px 6px 6px 0;
      border-bottom: 2px $background-color solid;
      margin-right: 24px;
      text-align: left;
      color: $grey-color-dark;
      &:hover {
        border-color: $grey-color-dark;
        text-decoration: none;
      }
    }
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  font-family: $header-font-family;
}

section.skills {
  width: 100%;
  position: relative;
  display: table;
  .skillset {
    width: 30%;
    float: left;
    h5 {
      margin: 0
    }
    ul {
      font-size: 12px;
      margin: 0 0 8px 16px;
      li.skill-item {
        list-style: none;
      }
    }
  }

  .experience {
    .xp-container {
      position: relative;
      display: table;
      padding-left: 24px;
      border-left: 2px $grey-color-dark dashed;
      .xp-item {
        margin-bottom: 16px;
        .xp-company {
          margin-bottom: 4px;
        }
        .xp-position {
          margin-bottom: 0;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: $grey-color-dark;
          small {
            text-transform: none;
            font-style: oblique;
          }
        }
        .xp-description {
          font-size: 12px;
        }
      }
    }
  }
}
