<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include home-header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">

          {{ content }}

          {%- if site.posts.size > 0 -%}
          <section class="blog-roll">
            <h3>BLOG ROLL</h3>
            <ul class="post-list">
              {%- for post in site.posts -%}
              <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
          </section>
          {%- endif -%}

        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
